@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --color-ltColor: rgb(209, 143, 0); */
    --color-ltColorInput: rgba(226, 147, 0, 0.098);
    --color-ltColor1: rgb(226, 147, 0);
    --color-ltColorLight: rgb(245, 159, 0);
    --color-ltColorDark: rgb(202, 131, 0);
    --color-ltColorDarker: rgb(167, 109, 1);
    --color-ltColorDarker1: rgb(141, 92, 0);
    --color-ltColor2: rgb(0, 0, 0);
    --color-ltColor3: rgb(255, 255, 255);
    --color-ltColorGray: rgb(129, 129, 129);
  }
}

.theme-dark {
  --color-bgPrimary: rgb(24, 24, 27);
  --color-bgSecondary: rgb(28, 28, 29);
  --color-primary: rgb(31, 31, 31);
  --color-secondary: rgb(94, 94, 94);
  --color-secondaryTransparent: rgba(39, 39, 39, .5);
  --color-tertiary: rgb(68, 68, 68);
  --color-quaternary: rgb(53, 53, 53);
  --color-quinary: rgb(41, 41, 41);
  --color-primaryText: rgb(255, 255, 255);
  --color-secondaryText: rgb(212, 212, 212);
  --color-tertiaryText: rgb(167, 167, 167);
  --color-quaternaryText: rgb(121, 121, 121);
  --color-quinaryText: rgb(87, 87, 87);
}
.theme-light {
  --color-bgPrimary: rgb(255, 255, 255);
  --color-bgSecondary: rgb(246, 246, 246);
  --color-primary: rgb(255, 255, 255);
  --color-secondary: rgb(223, 223, 223);
  --color-secondaryTransparent: rgba(233, 233, 233, .5);
  --color-tertiary: rgb(212, 211, 211);
  --color-quaternary: rgb(184, 184, 184);
  --color-quinary: rgb(160, 160, 160);
  --color-primaryText: rgb(0, 0, 0);
  --color-secondaryText: rgb(77, 77, 77);
  --color-tertiaryText: rgb(121, 121, 121);
  --color-quaternaryText: rgb(142, 142, 142);
  --color-quinaryText: rgb(195, 195, 195);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(255, 187, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(124, 91, 0);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(82, 60, 0);
}

::-webkit-scrollbar-thumb:active {
  background: rgb(106, 78, 0);
}

input {
  outline: none;
}

textarea {
  outline: none;
}

.inputCSS {
  transition: border 0.2s ease, background-color 0.2s ease;
  background-color: transparent;
  border: 2px solid var(--color-tertiary);
  color: var(--color-primaryText);
  padding: 8px;
  border-radius: 6px;
}

.inputCSS:hover {
  border: 2px solid var(--color-ltColor1);
}

.inputCSS:focus {
  border: 2px solid var(--color-ltColorDarker);
  background-color: var(--color-ltColorInput);
}

.linkBtn {
  cursor: pointer;
  transition: color 0.2s ease, text-decoration 0.2s ease;
}

.linkBtn:hover {
  color: var(--color-ltColor1);
  text-decoration: underline;
}

.largeBtn {
  padding: 0.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: rgb(255 255 255);
  font-weight: 500;
  border-radius: 0.375rem;
}

.greenButtonTheme {
  background-color: rgb(6, 172, 1);
  transition: background-color 0.2s ease;
}
.greenButtonTheme:hover {
  background-color: rgb(9, 204, 3);
}
.greenButtonTheme:active {
  background-color: rgb(0, 114, 6);
}

.redButtonTheme {
  background-color: rgb(172, 1, 1);
  transition: background-color 0.2s ease;
}
.redButtonTheme:hover {
  background-color: rgb(194, 1, 1);
}
.redButtonTheme:active {
  background-color: rgb(114, 0, 0);
}

.blueButtonTheme {
  background-color: rgb(1, 92, 172);
  transition: background-color 0.2s ease;
}
.blueButtonTheme:hover {
  background-color: rgb(14, 114, 221);
}
.blueButtonTheme:active {
  background-color: rgb(0, 57, 114);
}

.orangeButtonTheme {
  background-color: rgb(185, 120, 0); 
  transition: background-color 0.2s ease;
}
.orangeButtonTheme:hover {
  background-color: rgb(206, 140, 0);
}
.orangeButtonTheme:active {
  background-color: rgb(163, 106, 0);
}

.quizButtonTheme {
  transition: background-color 0.2s ease, border 0.2s ease;
  padding: 8px;
  border-radius: 6px;
  width: 100%;
  background-color: var(--color-secondaryTransparent);
  border: 2px solid var(--color-tertiary);
}
.quizButtonTheme:hover {
  background-color: var(--color-secondary);
}
.quizButtonTheme:active {
  border: 2px solid var(--color-quaternaryText);
  background-color: var(--color-tertiary);
}
.quizButtonThemeSelected {
  border: 2px solid var(--color-quaternaryText) !important;
  background-color: var(--color-tertiary) !important;
}
.quizButtonThemeSelected:active {
  border: 2px solid var(--color-quaternaryText) !important;
  background-color: var(--color-secondary) !important;
}

.audioButton {
  padding: 5px;
  color: var(--color-primaryText);
  background-color: var(--color-tertiary);
  border-radius: 0.5rem;
  transition: background-color 0.2s ease;
}
.audioButton:hover {
  background-color: var(--color-quaternary);
}
.audioButton:active {
  background-color: var(--color-quinary);
}


/* Disabled */

.disabledButton {
  background-color: var(--color-tertiary) !important;
  color: var(--color-secondary) !important;
  pointer-events: none;
}
